@model FilmsCatalog.Models.Movie
@{
    ViewBag.Title = "Редактирование фильма";
}
<form asp-action="CreateOrEdit" asp-controller="Movie" asp-route-id="@Model?.Id" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title">Название</label>
        <input type="text" asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Описание</label>
        <input type="text" asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Year">Год выпуска</label>
        <input type="date" asp-for="Year" class="form-control" />
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Producer">Режисер</label>
        <input type="text" asp-for="Producer" class="form-control" />
        <span asp-validation-for="Producer" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Poster">Изменить постер</label>
        <input type="file" asp-for="Poster" class="form-control" />
        <span asp-validation-for="Poster" class="text-danger"></span>
    </div>
    <div>
        @if (Model?.Poster != null)
        {
            <p>
                <img src="@Url.Content(Model.Poster)" alt=""></p>
        }
    </div>
    <div class="form-group">
        <div asp-validation-summary="All"></div>
        <button type="submit" class="btn btn-outline-primary">Сохранить</button>
    </div>
</form>